td {
    text-align: center;
}

th {
    height: 100px;
}

table {
    border-collapse: collapse;
    border: 1px solid;
}

table, th, td {
    border: 1px solid;
}

table {
    width: 100%;
}

.img {
    width: 420px;
    height: 230px;
    /*图像适应模式:图片完全展示*/
}

.preview {
    /* 鼠标盘旋时变小手 */
    cursor: pointer;
}

.preview-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    /* 鼠标盘旋时变小手 */
    cursor: pointer;
}

.preview-container .inage {
    max-width: 90%;
    max-height: 90%;
    min-width: 5%;
    min-height: 5%;
    object-fit: contain;
}

body {
    background: #FAEBD7;
}

#allblue {
    background: #7FFFD4;
    font-size: 17px;
    font-weight: 900;
}

#no-border {
    border: none;
}

#allblue {
    font-size: 17px;
    background-color: #7FFFD4;
    text-align: center;
    animation: aBlink 300ms infinite;
    -webkit-animation: aBlink 2000ms infinite;
}

@keyframes aBlink {
    from {
        background-color: #7FFFD4;
    }

    50% {
        background-color: #6495ED;
    }

    to {
        background-color: #FAEBD7;
    }
}

@-webkit-keyframes aBlink {
    from {
        background-color: #7FFFD4;
    }

    50%[background-color:#6495ED;}

to {
    background-color: #FAEBD7;
}