a {
    text-decoration: none;
    color: black;
}

td {
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 1px solid;
}

table, th, td {
    border: 1px solid;
}

table {
    width: 100%;
}

#border {
    width: 10.50%;
    height: 40px;
    background: yellow;
    border: none;
    font-size: 20px;
}

.border {
    width: 12.50%;
    background: #808080;
    font-size: 20px;
    color: #c0c0c0;
    border: solid 1px #17202a;
}

body {
    background-color: 5088c0;
}
